[Service]
# Required parameters
Environment=NOIA_API_KEY={{ NOIA_API_KEY }}
# Optional parameters
Environment=NOIA_CONTROLLER_URL={{ NOIA_CONTROLLER_URL }}
Environment=NOIA_ALLOWED_IPS={{ NOIA_ALLOWED_IPS }}
#If using docker , 'NOIA_NETWORK_API=docker' would allow agent to access docker networks for information.
Environment=NOIA_NETWORK_API={{ NOIA_NETWORK_API }}
Environment="NOIA_NAME={{ NOIA_NAME }}"
Environment=NOIA_COUNTRY={{ NOIA_COUNTRY }}
Environment=NOIA_CITY={{ NOIA_COUNTRY }}
#Select one of the categories from the list or default will be assigned
# 'IoT','Server','none'
Environment=NOIA_CATEGORY={{ NOIA_CATEGORY }}
#Select one of providers from the list or default will be assigned
#'AWS', 'DigitalOcean', 'Microsoft Azure', 'Rackspace', 'Alibaba Cloud',
#'Google Cloud Platform', 'Oracle Cloud', 'VMware', 'IBM Cloud', 'Vultr'.
Environment="NOIA_PROVIDER={{ NOIA_PROVIDER }}"
Environment=NOIA_LAT={{ NOIA_LAT }}
Environment=NOIA_LON={{ NOIA_LON }}
Environment=NOIA_TAGS={{ NOIA_TAGS }}
